---
---

@import "fonts.scss";
@import "rouge-github.scss";
@import "layout.scss";
@import "main.scss";

a {
  color: #3399FF;
  text-decoration: none;
}
a:hover {
  color: #55BBFF;
}

section h1 {
  background: #CBA;
  color: white;
}
section h1, section h2, section h3, section h4, section h5 {
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
}
