<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
		<meta name="keywords" content="Computational Fabrication, Alexandre Kaspar, Homepage, PhD Student, Texture Synthesis, 2D to 3D videos, Geometry Processing, GPU, MIT, EPFL">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="Homepage of Alexandre Kaspar, PhD Student at MIT">
    {% endif %}
    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/assets/css/pure-min.css" rel="stylesheet">
    <link href="/assets/css/google-ptsans-400-700.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/main.css" type="text/css" rel="stylesheet">
    <link href="/assets/colorbox/colorbox.css" type="text/css" rel="stylesheet">
  {% if page.custom_css %}
  <link href="/assets/css/{{ page.custom_css }}" type="text/css" rel="stylesheet">
  {% endif %}
    <script src="/assets/js/respond.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.colorbox.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function(){
          $('#content img').colorbox({ href: function(){
              return $(this).attr('src');
              }, maxWidth: '90%', maxHeight: '90%', rel: 'images', current: "" /* "{current} / {total}" */}).css('cursor', 'pointer');
      });
    </script>
  </head>
  <body class="{% if page.class %}page.class{% else %}page{% endif %}">
    <div id="header" class="pure-g-r">
      <div class="sidebar pure-u">
          <a href="../" class="inline logo" title="Project page"></a>
      </div>
      <div class="pure-u-1" id="header-content">
          <h1>{{ page.title }}</h1>
        {% if page.description %}{{ page.description }}{% endif %}
      </div>
    </div>
    <div id="content">
      <div class="wrapper">
        <!-- load markdown file here -->
        {{ content }}
      </div>
    </div>
  </body>
</html>
